@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;

    --max-width-container: 1280px;

    --animate-border-beam:
        border-beam calc(var(--duration)*1s) infinite linear;

    --color-muted-2:
        var(--muted-2);

    --color-muted-2-foreground:
        var(--muted-2-foreground);

    --color-transparent:
        transparent;

    --radius-xs:
        calc(var(--radius) - 4px);

    --breakpoint-sm:
        640px;

    --breakpoint-md:
        768px;

    --breakpoint-lg:
        1024px;

    --breakpoint-xl:
        1280px;

    --breakpoint-2xl:
        1400px;

    --animate-accordion-down:
        accordion-down 0.2s ease-out;

    --animate-accordion-up:
        accordion-up 0.2s ease-out;

    --animate-fade-in-out:
        fade-in-out 4s ease-in-out;

    --animate-fade-in:
        fade-in 0.7s ease-out forwards;

    --animate-progress:
        progress 8s linear;

    --animate-infinite-slider:
        infiniteSlider 20s linear infinite;

    --animate-infinite-slider-reverse:
        infiniteSliderReverse 20s linear infinite;

    --animate-shadow-ping:
        shadow-ping 1.5s ease-in-out infinite;

    --animate-flip-btn:
        flip-btn 6s infinite steps(2, end);

    --animate-rotate-btn:
        rotate-btn 3s linear infinite both;

    --animate-light-to-right-top:
        light-to-right 4s linear infinite;

    --animate-light-to-right-bottom:
        light-to-right 4s linear infinite;

    --animate-marquee:
        marquee 25s linear infinite;

    --animate-slide-to-right:
        slide-to-right 3s linear infinite;

    --animate-slide-to-top:
        slide-to-top 3s linear infinite;

    --animate-shimmer-slide:
        shimmer-slide var(--speed) ease-in-out infinite
    alternate;

    --animate-spin-around:
        spin-around calc(var(--speed) * 2) infinite linear;

    --animate-shine:
        shine var(--duration) infinite linear;

    --font-serif:
        var(--font-serif);

    --font-mono:
        var(--font-mono);

    --font-cursive:
        var(--font-cursive);

    --font-playfair:
        "Playfair Display", serif;

    --font-caveat:
        "Caveat", cursive;

    --color-gradient-3:
        var(----gradient-3);

    --color-gradient-2:
        var(----gradient-2);

    --color-gradient-1:
        var(----gradient-1);

    --color-sidebar-ring:
        var(----sidebar-ring);

    --color-sidebar-border:
        var(----sidebar-border);

    --color-sidebar-accent-foreground:
        var(----sidebar-accent-foreground);

    --color-sidebar-accent:
        var(----sidebar-accent);

    --color-sidebar-primary-foreground:
        var(----sidebar-primary-foreground);

    --color-sidebar-primary:
        var(----sidebar-primary);

    --color-sidebar-foreground:
        var(----sidebar-foreground);

    --color-sidebar:
        var(--sidebar);

    --radius:
        var(----radius);
  /*
  ---break---
*/
  @keyframes border-beam {
  100% {
    offset-distance:
        100%;
        }
    }
  @keyframes accordion-down {
  from {
    height:
        0;
        }
  to {
    height:
        var(--radix-accordion-content-height);
        }
    }
  @keyframes accordion-up {
  from {
    height:
        var(--radix-accordion-content-height);
        }
  to {
    height:
        0;
        }
    }
  @keyframes fade-in-out {
  0% {
    opacity:
        0;
        }
  20% {
    opacity:
        1;
        }
  80% {
    opacity:
        1;
        }
  100% {
    opacity:
        0;
        }
    }
  @keyframes progress {
  from {
    width:
        "0%";
        }
  to {
    width:
        "100%";
        }
    }
  @keyframes infiniteSlider {
  0% {
    transform:
        "translateX(0)";
        }
  100% {
    transform:
        "translateX(calc(-250px * 5))";
        }
    }
  @keyframes infiniteSliderReverse {
  0% {
    transform:
        "translateX(calc(-250px * 5))";
        }
  100% {
    transform:
        "translateX(0)";
        }
    }
  @keyframes fade-in-scale {
  0% {
    opacity:
        0;
    transform:
        scale(0.95);
        }
  100% {
    opacity:
        1;
    transform:
        scale(1);
        }
    }
  @keyframes transform1 {
  0%,
    25%,
    100% {
    width:
        100%;
    padding-bottom:
        120%;
        }
  33.33%,
    58.33% {
    width:
        0%;
    padding-bottom:
        0%;
        }
  66.66%,
    91.66% {
    width:
        90%;
    padding-bottom:
        100%;
        }
    }
  @keyframes transform2 {
  0%,
    25%,
    100% {
    width:
        65%;
    padding-bottom:
        65%;
        }
  33.33%,
    58.33% {
    width:
        95%;
    padding-bottom:
        114%;
        }
  66.66%,
    91.66% {
    width:
        52%;
    padding-bottom:
        52%;
        }
    }
  @keyframes transform3 {
  0%,
    25%,
    100% {
    width:
        78%;
    padding-bottom:
        100%;
        }
  33.33%,
    58.33% {
    width:
        78%;
    padding-bottom:
        94%;
        }
  66.66%,
    91.66% {
    width:
        95%;
    padding-bottom:
        76%;
        }
    }
  @keyframes transform4 {
  0%,
    25%,
    66.66%,
    91.66%,
    100% {
    width:
        0%;
    padding-bottom:
        0%;
        }
  33.33%,
    58.33% {
    width:
        65%;
    padding-bottom:
        46%;
        }
    }
  @keyframes image1 {
  0%,
    25%,
    100% {
    opacity:
        1;
        }
  33.33%,
    58.33%,
    66.66%,
    91.66% {
    opacity:
        0;
        }
    }
  @keyframes image2 {
  0%,
    25%,
    33.33%,
    58.33%,
    100% {
    opacity:
        0;
        }
  66.66%,
    91.66% {
    opacity:
        1;
        }
    }
  @keyframes image3 {
  0%,
    25%,
    66.66%,
    91.66%,
    100% {
    opacity:
        0;
        }
  33.33%,
    58.33% {
    opacity:
        1;
        }
    }
  @keyframes gradient-spin {
  0% {
    transform:
        translateX(-50%) translateY(-50%) rotate(0deg);
        }
  100% {
    transform:
        translateX(-50%) translateY(-50%) rotate(360deg);
        }
    }
  @keyframes shadow-ping {
  0% {
    boxshadow:
        0 0 0 0px theme("colors.neutral.100");
        }
  50% {
    boxshadow:
        0 0 0 12px theme("colors.neutral.300");
        }
  100% {
    boxshadow:
        0 0 0 12px transparent;
        }
    }
  @keyframes show-text {
  0%,
    14.28% {
    opacity:
        0;
        }
  17%,
    26% {
    opacity:
        1;
        }
  28.58%,
    100% {
    opacity:
        0;
        }
    }
  @keyframes flip-btn {
  to {
    transform:
        rotate(360deg);
        }
    }
  @keyframes rotate-btn {
  to {
    transform:
        rotate(90deg);
        }
    }
  @keyframes slide-to-right {
  0% {
    opacity:
        0;
    left:
        0;
        }
  50% {
    opacity:
        1;
        }
  100% {
    opacity:
        0;
    left:
        80%;
        }
    }
  @keyframes slide-to-top {
  0% {
    opacity:
        0;
    bottom:
        0;
        }
  50% {
    opacity:
        1;
        }
  100% {
    opacity:
        0;
    bottom:
        80%;
        }
    }
  @keyframes light-to-right {
  0% {
    transform:
        translate(0%);
    opacity:
        0;
        }
  50% {
    opacity:
        1;
        }
  100% {
    transform:
        translate(100%);
    opacity:
        0;
        }
    }
  @keyframes marquee {
  0% {
    transform:
        translateX(0%);
        }
  100% {
    transform:
        translateX(-100%);
        }
    }
  @keyframes fade-in {
  0% {
    opacity:
        0;
    transform:
        translateY(20px);
        }
  100% {
    opacity:
        1;
    transform:
        translateY(0);
        }
    }
  @keyframes shimmer-slide {
  to {
    transform:
        translate(calc(100cqw - 100%), 0);
        }
    }
  @keyframes spin-around {
  0% {
    transform:
        translateZ(0) rotate(0);
        }
  15%,
    35% {
    transform:
        translateZ(0) rotate(90deg);
        }
  65%,
    85% {
    transform:
        translateZ(0) rotate(270deg);
        }
  100% {
    transform:
        translateZ(0) rotate(360deg);
        }
    }
  @keyframes shine {
  0% {
    background-position:
        0% 0%;
        }
  50% {
    background-position:
        100% 100%;
        }
  to {
    background-position:
        0% 0%;
        }
    }
}

@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-reverse {
    to {
        transform: translateX(50%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-marquee {
    animation: marquee var(--duration, 30s) linear infinite;
}

.animate-marquee-reverse {
    animation: marquee-reverse var(--duration, 30s) linear infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }
}

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);
    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(0 0% 92.1%);
    --secondary-foreground: hsl(0 0% 9%);
    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);
    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 92.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsl(0 0% 3.9%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.5rem;
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(0 0% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(0 0% 94%);
    --sidebar-accent-foreground: hsl(0 0% 30%);
    --sidebar-border: hsl(0 0% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --sidebar: hsl(0 0% 98%);
    --sky-400:
        #38bdf8;
    --sky-500:
        #0ea5e9;
    --muted-2:
        hsl(0 0% 90%);
    --muted-2-foreground:
        hsl(240 3.8% 46.1%);
    --gradient-1:
        hsl(227 81% 67%);
    --gradient-2:
        hsl(125 51% 53%);
    --gradient-3:
        hsl(318 58% 66%);
    --font-sans:
        "Inter", sans-serif;
    --font-serif:
        "Roboto Serif", serif;
    --font-mono:
        "Roboto Mono", monospace;
    --font-cursive:
        "Caveat", cursive;
}

.dark {
    --background: hsl(0 0% 3.9%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 16.08%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
    --sidebar-background: hsl(0 0% 7%);
    --sidebar-foreground: hsl(0 0% 95.9%);
    --sidebar-primary: hsl(360, 100%, 100%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(0 0% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(0 0% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --sidebar: hsl(240 5.9% 10%);
    --sky-400:
        #38bdf8;
    --sky-500:
        #0ea5e9;
    --muted-2:
        hsl(0, 0%, 18%);
    --muted-2-foreground:
        hsl(240, 2%, 75%);
    --gradient-1:
        hsl(240 77% 25%);
    --gradient-2:
        hsl(125 51% 53%);
    --gradient-3:
        hsl(318 58% 66%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
.cpu-architecture {
  offset-anchor: 10px 0px;
  animation: animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, -0.01, 0, 0.99);
}

.cpu-line-1 {
  offset-path: path("M 10 20 h 79.5 q 5 0 5 5 v 30");
  animation-duration: 5s;
  animation-delay: 1s;
}

.cpu-line-2 {
  offset-path: path("M 180 10 h -69.7 q -5 0 -5 5 v 40");
  animation-delay: 6s;
  animation-duration: 2s;
}

.cpu-line-3 {
  offset-path: path("M 130 20 v 21.8 q 0 5 -5 5 h -25");
  animation-delay: 4s;
  animation-duration: 6s;
}

.cpu-line-4 {
  offset-path: path("M 170 80 v -21.8 q 0 -5 -5 -5 h -65");
  animation-delay: 3s;
  animation-duration: 3s;
}

.cpu-line-5 {
  offset-path: path(
    "M 135 65 h 15 q 5 0 5 5 v 10 q 0 5 -5 5 h -39.8 q -5 0 -5 -5 v -35"
  );
  animation-delay: 9s;
  animation-duration: 4s;
}

.cpu-line-6 {
  offset-path: path("M 94.8 95 v -46");
  animation-delay: 3s;
  animation-duration: 7s;
}

.cpu-line-7 {
  offset-path: path(
    "M 88 88 v -15 q 0 -5 -5 -5 h -10 q -5 0 -5 -5 v -5 q 0 -5 5 -5 h 28"
  );
  animation-delay: 4s;
  animation-duration: 4s;
}

.cpu-line-8 {
  offset-path: path("M 30 30 h 25 q 5 0 5 5 v 6.5 q 0 5 5 5 h 35");
  animation-delay: 3s;
  animation-duration: 3s;
}

@keyframes animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

